{% extends "base.html" %}

{% block title %}Bad Request{% endblock %}

{% block content %}
<h1>Bad Request</h1>

<p>{% if exception %}{{ exception }}{% else %}the server was unable to process the request{% endif %}</p>
{% endblock content %}
