{% extends "base.html" %}

{% block content %}
<h1><span style="font-weight: normal;">search across reports: </span> {{ term }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                maching results
            </th>
        </tr>
    </thead>
    <tbody>
        
        {% if keywords|length == 0 %}
            <tr>
                <td>no matching results</td>
            </tr>
        {% else %}
            {% for keyword in keywords %}
                <tr>
                    <td><a href="/all/smart-search/keyword/{{ keyword.id }}" data-cy="key-list-link"> {{ keyword.keyword }} </a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}