{% extends "base.html" %}

{% block content %}
<h1>keywords</h1>
{% if keywords|length == 0 %}
    {% if page == 1 %}
        <div>no keywords</div>
    {% else %}
        <div>no more keywords</div>
    {% endif %}
{% else %}
<table class="table">
    <thead>
        <tr>
            <th>
                keyword
            </th>
            <th>
                searching status
            </th>
        </tr>
    </thead>
    <tbody>
        {% for keyword in keywords %}
            <tr>
                <td><a href="/all/smart-search/keyword/{{ keyword.id }}" data-cy="key-list-link"> {{ keyword.keyword }} </a></td>
                <td> {{ keyword.get_search_status_display }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<span>page: {{ page }} </span>
<a {% if page > 1 %} href="/all/smart-search/page-{{ page|add:"-1" }}" {% endif %} data-cy="keywords-prev">prev</a>
<a {% if keywords|length != 0 %} href="/all/smart-search/page-{{ page|add:"1" }}" {% endif %} data-cy="keywords-next">next</a>
{% endblock %}
