{% extends "base.html" %}

{% block content %}
<h1><span style="font-weight: normal;">keyword: </span>{{ keyword }}</h1>
{% if search_status == 'INP' %}
    <h2>searching in progress...</h2>
{% endif %}
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <td nowrap>adwords count</td>
                {% if search_status == 'INP' %}
                    <td>pending...</td>
                {% else %}
                    <td>{{ adwords_count }}</td>
                {% endif %}
            </tr>
            <tr>
                <td nowrap>links count</td>
                {% if search_status == 'INP' %}
                    <td>pending...</td>
                {% else %}
                    <td>{{ links_count }}</td>
                {% endif %}
            </tr>
            <tr>
                <td nowrap>total results</td>
                {% if search_status == 'INP' %}
                    <td>pending...</td>
                {% else %}
                    <td>{{ total_results }}</td>
                {% endif %}
            </tr>
            <tr>
                <td nowrap>raw html</td>
                {% if search_status == 'INP' %}
                    <td>pending...</td>
                {% else %}
                    <td>{{ html }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
