{% extends "base.html" %}
{% block content %}
<h1>upload your keywords here</h1>
<div>must be csv containing 1-100 keywords and keywords must be separated by newlines</div>
<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <input type="file" id="myFile" name="file" data-cy="file-browse">
    <input type="submit" data-cy="upload-btn">
</form>
{% endblock %}
